<h1><%= @dinner.name %></h1>

  <!--  If login you can see  -->
  <% if @current_user %>
    <h2>Host: <%= @dinner.host.name %> </h2>
  <% end %>
<h2>Party Details</h2>

<ul>

  <!--  Everyone can see -->
  <li>Theme: <%= @dinner.theme %> </li>
  <li>Description: <%= @dinner.description %> </li>


    <!--  If login you can see -->
    <% if @current_user %>
        <li>Location: <%= @dinner.location %> </li>
        <li>Date: <%= @dinner.date %> </li>
        <li>Start Time: <%= @dinner.start_time %> </li>
        <li>End Time: <%= @dinner.end_time %> </li>
      </ul>

      <h2>Guest List</h2>
        <% @dinner.guests.each do |guest| %>
        <ul>
          <li>
            <% if @current_user.id == guest.user.id %>
              <%= guest.user.name %> <%= button_to "Cancel", "/guests/#{guest.user_id}", method: :delete %>
            <% else %>
            <%= guest.user.name %>
            <% end %>
          </li>
        </ul>
        <% end %>

      <p>Tell us what dish you are brining and join!.</p>
      <%= form_for @guest do |f| %>
        <%= f.hidden_field :dinner_party_id,  :value => @dinner.id %>
        <%= f.hidden_field :user_id,  :value => @current_user.id %>
        <%= f.label :dish %>
        <%= f.text_field :dish %>
        <%= f.submit "Join the Party!"%>
      <% end %>



    <% end %>
<!--  Only the Host can see -->
<% if @current_user && @current_user.id == @dinner.user_id  %>
    <p> <%= button_to "Cancel This Party", dinner_party_path(@dinner), method: :delete %></p>
    <p> <%= button_to "Edit This Party", edit_dinner_party_path, method: :get %></p>
    <p> <%= button_to "Host a Party", new_dinner_party_path, method: :get %></p>
<% end %>
