
<div class="container">
<h1>Sign Up</h1>
<div class="form-group">
<%= form_for @user do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name, class: "form-control" %>

    <%=f.label :username %>
    <%=f.text_field :username, class: "form-control" %>

    <%=f.label :password %>
    <%=f.password_field :password, class: "form-control" %>

    <%=f.submit "Sign Up!" %>
<%end%>
</div>
</div>
