<div class="body">
  <div class="row justify-content-center p-3">
    <h1 class="pr-4">Parties You're Hosting</h1>
    <%= button_to "Throw A Party", new_dinner_party_path, method: "get", class: "btn btn-primary pl-3" %>
  </div>

  <div class="container pb-3">
    <div class="wrapper">
      <% @current_user.hosted_parties.each do |party| %>

        <div class="panel">
          <h5 class=""><%= party.name %></h5>
          <%= link_to "Party Details", party, class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
</div>




  <div class="container p-3">
    <div class="row justify-content-center">
        <h1 class="pr-3">Parties You're Going To</h1>
        <%= button_to "Go To A Party", dinner_parties_path, method: "get", class: "btn btn-primary" %>
      </div>
    </div>


  <div class="container">
    <div class="wrapper">
      <% @parties_attending.each do |party| %>
        <div class="">
          <h5 class=""><%= party.name %></h5>
          <p class=""><%= party.description %></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <%= link_to "Details", party, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
