<h1></h1>

<h2>Parties You're Hosting</h2>

<% @current_user.hosted_parties.each do |party| %>

  <div class="card-deck" style="display: block">
      <div class="card" style="width: 18rem;">
      <!--   <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><%= party.name %></h5>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <%= link_to "Details", party, class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
    <div style="display: block">
      <%= button_to "Through A Party", new_dinner_party_path, method: "get" %>
    </div>



<h2>Parties You're Going To</h2>

  <% @parties_attending.each do |party| %>
    <div class="card-deck">
        <div class="card" style="width: 33%;">
        <!--   <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><%= party.name %></h5>
            <p class="card-text"><%= party.description %></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <%= link_to "Details", party, class: "btn btn-primary" %>
          </div>
      </div>








<% end %>

<div style="display: block">
<%= button_to "Go To A Party", dinner_parties_path, method: "get", class: "btn btn-primary" %>
</div>
