<!DOCTYPE html>
<html>
  <head>
    <title>DiNetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @logged_in %>
      <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
        <div class="container">
          <div class="navbar-brand">🍽  DINET  🍽</div>
            <div class="navbar-nav">
                <%= link_to "Home", dinner_parties_path, class: "nav-item nav-link" %>
              <div class= "nav-item nav-link disabled">
                Logged in as: <%= @current_user.name %>
              </div>
              <%= link_to "Log Out", "/auth", method: :delete, class: "nav-item nav-link" %>
            </div>
          </div>
        </nav>
      <% else %>

        <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
          <div class="container">
            <div class="navbar-brand">🍽  DINET  🍽</div>
              <div class="navbar-nav">
                <%= link_to "Home", dinner_parties_path, class: "nav-item nav-link" %>
                <%= link_to "Login", new_auth_path, class: "nav-item nav-link" %>
                <%= link_to "Sign Up", new_user_path, class: "nav-item nav-link" %>
              </div>
          </div>
        </nav>



      <% end %>

      <% if flash[:message] %>
          <%= flash[:message] %>
      <% end %>

    </header>

    <%= yield %>
  </body>
</html>
