<!DOCTYPE html>
<html>
  <head>
    <title>DiNetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Overlock|Sacramento|Titillium+Web&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

    <header class="header">
      <div class="container">
        <div class="logo">🍽  Dinet  🍽</div>
        <% if @logged_in %>
            Logged in as: <%= @current_user.name %>
        </div>

      <% end %>
      <!-- NAV BAR: Shows Logged out when the user is logged in -->
      <nav class="navlinks">
        <% if @logged_in %>
          <%= link_to "Your Profile", user_path(@current_user), class: "px-3" %>
          <%= link_to "Host a Party", new_dinner_party_path, class: "px-3" %>
          <%= link_to "Parties", dinner_parties_path, class: "px-3" %>
          <%= link_to "Log Out", "/auth", method: :delete, class: "px-3" %>
        <% else %>
    <!-- NAV BAR: Shows sign up and login links when the user is logged out -->
          <%= link_to "Home", dinner_parties_path, class: "px-3" %>
          <%= link_to "Login", new_auth_path, class: "px-3" %>
          <%= link_to "Sign Up", new_user_path, class: "px-3" %>
        <% end %>
    </nav>

      <% if flash[:message] %>
          <%= flash[:message] %>
      <% end %>

    </header>

    <%= yield %>
  </div>
  </body>
</html>
